option_settings:
  "aws:elasticbeanstalk:sqsd":
    HttpPath: '/download_the_internet'
    ConnectTimeout: '5'

    WorkerQueueURL: 'https://sqs.eu-west-1.amazonaws.com/263155591784/hello-sqs-queue'

    # don't let other workers pick current task for 30 minutes
    VisibilityTimeout: '1800'

    # In-flight messages will be removed after 10 minutes
    RetentionPeriod: '600'
